body {
    margin: 0 auto;
    overflow-y: scroll;
    max-width: 1440px;
    text-align: center;
  }

.container-konten{
    font-family: 'Arima Madurai';
    margin: 60px;
}

img{
    width: 100%;
    text-align: center;
}

button {
    margin: 50px;
    font-family: inherit;
    cursor: pointer;
  }
  /* End of Page styling */
  
  /* Fill button styling */
  .fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fill::after {
    content: "";
    background-color: #d1a975;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
  /* End of Fill Button  */